<%= form_with model: @recipefood, url: user_recipe_recipefood_path(@client.id, @recipe.id, @recipefood.id), method: :patch do |f| %>
  <div class="food-new-form">
    <div class="food-new-unit_price">
      <%= f.label "Ingredient" %>
      <%= f.collection_select :food_id, @foods, :id, :name, include_blank: true, value: @food.name %>
    </div>
    <div class="food-new-quantity">
      <%= f.label "Quantity" %>
      <%= f.number_field :quantity, in: 1.0..500.0, step: 0.05, value: @recipefood.quantity %>
    </div>
    <div class="food-new-submit">
      <%= f.submit 'Edit Ingredient' %>
    </div>
  </div>
<% end %>