<h1>Public Recipes</h1>
<% @public_recipes.each_with_index do |recipe, index| %>
  <div class="recipe-card">
    <div class="recipe-title-container">
      <%= link_to user_recipe_path(recipe.user.id, recipe.id) do %>
        <h3 class="recipe-title">
          <%= recipe.name %>
        </h3>
      <%end%>
      <p>By: <%= recipe.user.name %> </p>
    </div>
    <div class="public-recipes-counters">
      <p>
        Total food items: <%= recipe.foods.length %>
      </p>
      <p>
        Total price: $<%= @data[recipe.name][:cost] %>
      </p>
    </div>
  </div>
<% end %>