<h1><%= @recipe.name %></h1>
<div class="recipe-info-container">
  <div class="recipe-left-container">
    <p>Preparation time: <%= @recipe.preparation_time %> hours</p>
    <p>Cooking time: <%= @recipe.cooking_time %> hours</p>
    <p>Steps: <%= @recipe.description %></p>
    <%= button_to 'Generate shopping list', general_shopping_list_url(), method: :get %>
  </div>

  <div class="recipe-right-container">
    <div>
      <label for="public">Public</label>
      <input type="checkbox" id="public" <%= 'checked' if @recipe.public %> disabled>
    </div>
    <%= render "recipefoods/new_form" %>
  </div>
</div>
